# Commande pour tout installer => pip install -r requirements.txt

Flask==3.1.1


#ORM pour la db
SQLAlchemy==2.0.41
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.10

Flask-Login==0.6.3

marshmallow==4.0.0
Flask-RESTful==0.3.10